# 02-Kaggle House Prices 2023 (EDA)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/For_EDA_dataset.csv')

In [3]:
df.shape

(153430, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153430 entries, 0 to 153429
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     153430 non-null  int64
 1   property_type  153430 non-null  object
 2   price          153430 non-null  int64
 3   location       153430 non-null  object
 4   city           153430 non-null  object
 5   province_name  153430 non-null  object
 6   latitude       153430 non-null  float64
 7   longitude      153430 non-null  float64
 8   baths          153430 non-null  int64
 9   purpose        153430 non-null  object
 10  bedrooms       153430 non-null  int64
 11  date_added     153430 non-null  object
 12  agency         153430 non-null  object
 13  agent          153430 non-null  object
 14  Area_in_Marla  153430 non-null  float64
dtypes: float64(3), int64(4), object(8)
memory usage: 17.6+ MB

In [5]:
df.head()

,Unnamed: 0,property_type,price,location,city,province_name,latitude,longitude,baths,purpose,bedrooms,date_added,agency,agent,Area_in_Marla
0,0,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,For Sale,2,2019-02-04,Self,Self,4.0
1,1,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,For Sale,3,2019-05-04,Self,Self,5.6
2,2,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,For Sale,5,2019-07-17,Self,Self,8.0
3,3,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,For Sale,4,2019-04-05,Self,Self,40.0
4,4,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,For Sale,3,2019-07-10,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,8.0