# 02-Kaggle House Prices 2023 (EDA)

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data/Cleaned_data_for_model.csv', index_col=0)

In [7]:
df.shape

(99499, 8)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99499 entries, 0 to 168445
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  99499 non-null  object
 1   price          99499 non-null  int64
 2   location       99499 non-null  object
 3   city           99499 non-null  object
 4   baths          99499 non-null  int64
 5   purpose        99499 non-null  object
 6   bedrooms       99499 non-null  int64
 7   Area_in_Marla  99499 non-null  float64
dtypes: float64(1), int64(3), object(4)
memory usage: 6.8+ MB

In [9]:
df.head()

,property_type,price,location,city,baths,purpose,bedrooms,Area_in_Marla
0,Flat,10000000,G-10,Islamabad,2,For Sale,2,4.0
1,Flat,6900000,E-11,Islamabad,3,For Sale,3,5.6
2,House,16500000,G-15,Islamabad,6,For Sale,5,8.0
3,House,43500000,Bani Gala,Islamabad,4,For Sale,4,40.0
4,House,7000000,DHA Defence,Islamabad,3,For Sale,3,8.0