# [Calculating The Standard Deviation, Mean, Median, Mode, Range, & Variance Using Excel](https://www.youtube.com/watch?v=k17_euuiTKw&list=PL0o_zxa4K1BVsziIRdfv4Hl4UIqDZhXWV&index=10&ab_channel=TheOrganicChemistryTutor)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [15,27,74,36,8,15,42,93,15,24]
df = pd.DataFrame(data)
df

    0
0  15
1  27
2  74
3  36
4   8
5  15
6  42
7  93
8  15
9  24

In [3]:
df.sum()

0    349
dtype: int64

In [4]:
df.mean()

0    34.9
dtype: float64

In [5]:
df.median()

0    25.5
dtype: float64

In [6]:
df.mode()

    0
0  15

In [7]:
df.max()

0    93
dtype: int64

In [8]:
df.min()

0    8
dtype: int64

In [9]:
# sample
df.var()

0    783.211111
dtype: float64

In [10]:
df.std()

0    27.985909
dtype: float64

In [11]:
mean = df.mean()
n = len(df)
var = ((df-mean)**2).sum() / (n-1)
var

0    783.211111
dtype: float64

In [12]:
var ** 0.5

0    27.985909
dtype: float64

In [13]:
# population
df.var(ddof=0)

0    704.89
dtype: float64

In [14]:
df.std(ddof=0)

0    26.549765
dtype: float64

In [15]:
var = ((df-mean)**2).sum() / n
var

0    704.89
dtype: float64

In [16]:
var ** 0.5

0    26.549765
dtype: float64